<!DOCTYPE html>
<html>
<head>
	<title> Titanic Survival Prediction </title>
</head>
<body>
	<h1> Titanic Survival Prediction </h1>
	<form action="{{ url_for('predict') }}" method="post">
		<label for="Pclass"> Passenger Class: </label>
		<select name="Pclass" id="Pclass">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
		<br>
		<label for="Sex"> Sex: </label>
		<select name="Sex" id="Sex">
			<option value="0">Male</option>
			<option value="1">Female</option>
		</select>
		<br>
		<label for="Age"> Age: </label>
		<input type="number" name="Age" id="Age" step="0.01">
		<br>
		<label for="SibSp"> Number of Siblings/Spouses Aboard: </label>
		<input type="number" name="SibSp" id="SibSp">
		<br>
		<label for="Parch"> Number of Parents/Children Aboard: </label>
		<input type="number" name="Parch" id="Parch">
		<br>
		<label for="Fare"> Fare: </label>
		<input type="number" name="Fare" id="Fare" step="0.01">
		<br>
		<label for="Embarked"> Port of Embarkation: </label>
		<select name="Embarked" id="Embarked">
			<option value="0">Cherbourg</option>
			<option value="1">Queenstown</option>
			<option value="2">Southampton</option>
		</select>
		<br>
		<input type="submit" value="Predict">
	</form>
	{% if prediction_text %}
	<p> The Predicted outcome is {{ prediction_text }} </p>
	{% endif %}
</body>
</html>

